<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <style>
  </style>
</head>
<body>
  <h2>Unsubscribed Email</h2>
  <p>Hello,</p>
  <p>This email is to confirm that you have successfully unsubscribed from our service.</p>
  <p>Visit our website for more information: <a href="'https://weather-react-app-3407da0f838b.herokuapp.com/'">Home</a></p>
  <br>
  <p>Thank you,</p>
  <p>The Weather App Team</p>
</body>
</html>
