<!-- welcome_email.html.erb -->
<h1>Welcome to My Weather Site</h1>
<p>
  You have successfully registered for receive notification of weather daily.
  Notification will send at 7:00 AM UTC. Let check it!
</p>
<p>Thanks for joining and have a great day!</p>
